*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#app,
#app > div {
  width: 100%;
  height: 100%;
  font-size: 14px;
  --mainColor: #0056ff;
}

@for $i from 1 through 200 {
  .ml-#{$i} {
    margin-left: 1px * $i;
  }
  .mr-#{$i} {
    margin-right: 1px * $i;
  }
  .mt-#{$i} {
    margin-top: 1px * $i;
  }
  .mb-#{$i} {
    margin-bottom: 1px * $i;
  }
  .fs-#{$i} {
    font-size: 1px * $i;
  }
}

.flex {
  display: flex;
}

@mixin command-flex($justify-content, $flex-direction: row, $align-items: center) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

.flex-center {
  @include command-flex(center);
}
.flex-start {
  @include command-flex(start);
}
.flex-around {
  @include command-flex(space-around);
}
.flex-between {
  @include command-flex(space-between);
}

.column {
  flex-direction: column;
}

.no-footer {
  .bn-drawer__container {
    .bn-drawer__footer {
      display: none !important;
    }
  }
}
